* {
	padding: 0;
	margin: 0;
}

.main {
	margin: 0 auto;
	margin-top: 20px;
	width: 1100px;
	height: 800px;
	background-image: url(img/fon.jpg);
	background-size: 100% 100%;
	position: relative;
}

@keyframes corgimove {
	0% { 
		transform: translate(0px, 300px);
	}
	10% {
		transform: translate(110px, 200px);
	}
	20% {
		transform: translate(220px, 300px);
		opacity: 100;
	}
	30% {
		transform: translate(330px, 200px);
		opacity: 100;
	}
	40% {
		transform: translate(440px, 300px);
		opacity: 100;
	}
	50% {
		transform: translate(550px, 200px);
		opacity: 100;
	}
	60% {
		transform: translate(660px, 300px);
		opacity: 100;
	}
	70% {
		transform: translate(770px, 200px);
		opacity: 100;
	}
	80% {
		transform: translate(880px, 300px);
		opacity: 100;
	}
	90% {
		transform: translate(990px, 200px);
		opacity: 100;
	}
	100% {
		transform: translate(1100px, 300px);
		opacity: 0;
	}
	
}

@keyframes planets {
	0%{ 
		box-shadow: 0 0 10px #FF8C00;
	}
	50% {
		box-shadow: 0 0 100px #8B008B;
	}
	100%{
		box-shadow: 0 0 10px #FF8C00;
	}
}


@keyframes starsopacity {
	0% { 
		opacity: 100%;

	}
	50% {
		opacity: 0;
	}
	100$ {
		opacity: 100%;
	}
}




@keyframes sunmove {
	0% { 
		transform: translate(1000px, 50px);
		

	}
	100% {
		transform: translate(30px, 420px);
		
	}
}

@keyframes mercmove {
	0% { 
		transform: translate(1000px, 50px);

	}
	100% {
		transform: translate(300px, 430px);
	}
}

@keyframes veneramove {
	0% { 
		transform: translate(1000px, 50px);

	}
	100% {
		transform: translate(350px, 350px);
	}
}
@keyframes earthmove {
	0% { 
		transform: translate(1000px, 50px);

	}
	100% {
		transform: translate(450px, 300px);
	}
}





@keyframes marsmove {
	0% { 
		transform: translate(1000px, 50px);

	}
	100% {
		transform: translate(600px, 300px);
	}
}

@keyframes upitermove {
	0% { 
		transform: translate(1000px, 50px);

	}
	100% {
		transform: translate(670px,230px);
	}
}
@keyframes biggestmove {
	0% { 
		opacity: 0;

	}
	30% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	90% {
		opacity: 100%;
	}
	100% {
		filter: drop-shadow(5px 5px 5px #222);
	}
}
@keyframes saturnmove {
	0% { 
		transform: translate(1000px, 50px);

	}
	100% {
		transform: translate(700px,100px);
	}
}


@keyframes uranmove {
	0% { 
		transform: translate(1000px, 50px);

	}
	100% {
		transform: translate(850px, 90px);
	}
}



@keyframes neptunmove {
	0% { 
		transform: translate(1000px, 50px);

	}
	100% {
		transform: translate(950px, 50px);
	}
}



@keyframes moonmove {
	from {  transform: rotate(0deg) translateX(100px) rotate(0deg); opacity: 100; }

	to {  transform: rotate(360deg) translateX(100px) rotate(-360deg); opacity: 100; }
}


@keyframes rocketmove {
	0% { 
		transform: translate(450px, 300px);
		opacity: 100;
	}
	50% { 
		transform: translate(225px, 150px);
		opacity: 100;
	}
	100% {
		transform: translate(0px, 30px);
		opacity: 0;
	}
	
	
	
}




.rocket {
	height: 120px;
	animation: rocketmove 10s linear;
	position: absolute;
	animation-fill-mode: forwards;
	animation-delay: 5s;
	opacity:0;
}

.corgi {
	height: 120px;
	animation: corgimove 10s linear;
	position: absolute;
	animation-fill-mode: forwards;	
}
.stars {
	position: absolute;
	max-height: 800px;
	animation: starsopacity 5s infinite;
}

.sun {
	height: 400px;
	animation: sunmove 5s;
	position: absolute;
	animation-fill-mode: forwards;	
	transition: opacity .5s linear;
}

.sun:hover {
	opacity: 0;
}
.merc {
	height: 70px;
	animation: mercmove 5s;
	position: absolute;
	animation-fill-mode: forwards;
}

.venera {
	height: 70px;
	animation: veneramove 5s;
	position: absolute;
	animation-fill-mode: forwards;	
}

.earth {
	height: 120px;
	animation: earthmove 5s;
	position: absolute;
	animation-fill-mode: forwards;	
}
.moon {
	top: 350px;
	left:500px;
	height: 30px;
	animation: moonmove 4s linear infinite;
	animation-delay: 5s;
	position: absolute;
	opacity: 0;
	
}

.mars {
	height: 50px;
	animation: marsmove 5s;
	position: absolute;
	animation-fill-mode: forwards;	
}

.upiter {
	height: 150px;
	animation: upitermove 5s;
	position: absolute;
	animation-fill-mode: forwards;	
}

.saturn {
	height: 150px;
	animation: saturnmove 5s;
	position: absolute;
	animation-fill-mode: forwards;	
}

.uran {
	height: 150px;
	animation: uranmove 5s;
	position: absolute;
	animation-fill-mode: forwards;	
}

.neptun {
	height: 70px;
	animation: neptunmove 5s;
	position: absolute;
	animation-fill-mode: forwards;	
	
}

.biggest {
	transform: translate(780px, 230px);
	height: 150px;
	animation: biggestmove 3s;
	position: absolute;
	animation-fill-mode: forwards;	
}
.biggest:hover {
	opacity: 0;
}



.planets {
	
	transform: translate(450px, 10px);
	height: 100px;
	animation: planets 8s infinite;
	position: absolute;
	
	
}

//*https://kor.pngtree.com/freepng/vector-blue-earth-smiling-face_2986353.html











